<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">BlogFeed</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ajinkyagorad@gmail.com">MailMe</a></li>
	        		<li><a href="https://github.com/ajinkyagorad">Github</a></li>
	        		<li><a href="https://plus.google.com/+AjinkyaGorad">Google+</a></li>
	        		<li><a href="https://twitter.com/ajinkya_gorad">Twitter</a></li>
	        		<li><a href="https://www.linkedin.com/in/ajinkyagorad">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
